# Nuxt
.nuxt
.output
.data
dist

# Env
.env
.env.*
!.env.example

# Dependencies
node_modules
.pnpm-store

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
